# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
.venv/

# Jupyter notebooks
.ipynb_checkpoints

# PyInstaller
*.spec

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Pygame temporary files
*.psd
*.tmp

# Custom project output
*.npy
*.json
*.jsonl
*.mp4
outputs/
logs/
